# Pandas Lib

Source = https://pandas.pydata.org/docs/user_guide/

In [1]:
import pandas as pd
import numpy as np

In [2]:
series1 = pd.Series([1, 2, 3, 'Malihe', 0, np.nan, -1])
series1

0         1
1         2
2         3
3    Malihe
4         0
5       NaN
6        -1
dtype: object

In [3]:
type(series1[3])

str

In [4]:
series1[len(series1) - 1]

-1

In [5]:
type(series1[len(series1) - 1])

int

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
dates = pd.date_range("20241015", periods = 10)
dates

DatetimeIndex(['2024-10-15', '2024-10-16', '2024-10-17', '2024-10-18',
               '2024-10-19', '2024-10-20', '2024-10-21', '2024-10-22',
               '2024-10-23', '2024-10-24'],
              dtype='datetime64[ns]', freq='D')

In [8]:
print([d for d in dates])

[Timestamp('2024-10-15 00:00:00'), Timestamp('2024-10-16 00:00:00'), Timestamp('2024-10-17 00:00:00'), Timestamp('2024-10-18 00:00:00'), Timestamp('2024-10-19 00:00:00'), Timestamp('2024-10-20 00:00:00'), Timestamp('2024-10-21 00:00:00'), Timestamp('2024-10-22 00:00:00'), Timestamp('2024-10-23 00:00:00'), Timestamp('2024-10-24 00:00:00')]

In [9]:
print('\n'.join(map(str, dates)))

2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-19 00:00:00
2024-10-20 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00

In [10]:
for d in dates:
    print(d)

2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-19 00:00:00
2024-10-20 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00

## DataFrame

In [11]:
df = pd.DataFrame(np.random.randn(10, 4), index = dates, columns = ['A', 'B', 'C', 'D'])

In [12]:
df

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
dates[1]

Timestamp('2024-10-16 00:00:00')

In [15]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2024-10-15 to 2024-10-24
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
dtypes: float64(4)
memory usage: 400.0 bytes

In [17]:
 df['A']

2024-10-15    0.099167
2024-10-16    1.775845
2024-10-17   -0.088840
2024-10-18   -1.361773
2024-10-19    2.478647
2024-10-20   -1.201021
2024-10-21    0.633254
2024-10-22    1.097421
2024-10-23   -0.496762
2024-10-24   -0.154019
Freq: D, Name: A, dtype: float64

In [18]:
df

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [19]:
df.head()

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008

In [20]:
df.head(3)

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321

In [21]:
df.tail()

                   A         B         C         D
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [22]:
df.tail(3)

                   A         B         C         D
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [23]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.278192  -0.281740   0.183276   0.042520
std     1.234407   0.602284   0.938925   1.070011
min    -1.361773  -0.963155  -0.817155  -1.563304
25%    -0.411076  -0.594563  -0.449162  -0.763201
50%     0.005164  -0.445060  -0.016273   0.081550
75%     0.981379  -0.139818   0.668485   0.845071
max     2.478647   1.208406   2.301437   1.855274

In [24]:
df.mean()

A    0.278192
B   -0.281740
C    0.183276
D    0.042520
dtype: float64

In [25]:
df['A'].mean()

0.2781919821237865

In [26]:
df['D'].max()

1.8552740621516053

In [27]:
df[1 : 3]

                   A         B         C         D
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321

In [28]:
df[1 : 3]['B']

2024-10-16   -0.571162
2024-10-17    1.208406
Freq: D, Name: B, dtype: float64

In [29]:
df_t = df.T

In [30]:
df_t

,2024-10-15,2024-10-16,2024-10-17,2024-10-18,2024-10-19,2024-10-20,2024-10-21,2024-10-22,2024-10-23,2024-10-24
A,0.099167,1.775845,-0.088840,-1.361773,2.478647,-1.201021,0.633254,1.097421,-0.496762,-0.154019
B,0.079288,-0.571162,1.208406,-0.319626,-0.678783,-0.602363,-0.375140,-0.514981,-0.963155,-0.079882
C,-0.054775,0.022230,-0.802657,0.763728,0.745558,0.437264,-0.817155,-0.245980,2.301437,-0.516889
D,-0.770853,-0.740248,1.070321,0.151292,-0.896008,1.137598,0.169319,-1.563304,1.855274,0.011808

In [31]:
df.sort_values(by = "B")

                   A         B         C         D
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-17 -0.088840  1.208406 -0.802657  1.070321

In [32]:
df[df['A'] > 0]

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304

In [33]:
df2 = pd.DataFrame(
    {
        "A" : 1.0,
        "B" : pd.Timestamp("20241016"),
        "C" : pd.Series(1, index = list(range(4)), dtype = "float32"),
        "D" : np.array([3] * 4, dtype = "int32"),
        "E" : pd.Categorical(["test", "train", "test", "train"]),
        "F" : "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2024-10-16  1.0  3   test  foo
1  1.0 2024-10-16  1.0  3  train  foo
2  1.0 2024-10-16  1.0  3   test  foo
3  1.0 2024-10-16  1.0  3  train  foo

In [34]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [35]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [36]:
df2.to_numpy()

array([[1.0, Timestamp('2024-10-16 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2024-10-16 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2024-10-16 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2024-10-16 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [37]:
df2

     A          B    C  D      E    F
0  1.0 2024-10-16  1.0  3   test  foo
1  1.0 2024-10-16  1.0  3  train  foo
2  1.0 2024-10-16  1.0  3   test  foo
3  1.0 2024-10-16  1.0  3  train  foo

In [38]:
df2['A']

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [39]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [40]:
df2[1 : 3]

     A          B    C  D      E    F
1  1.0 2024-10-16  1.0  3  train  foo
2  1.0 2024-10-16  1.0  3   test  foo

In [41]:
df

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [42]:
df["20241018" : "20241020"]

                   A         B         C         D
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598

In [43]:
df.loc[dates[0]]

A    0.099167
B    0.079288
C   -0.054775
D   -0.770853
Name: 2024-10-15 00:00:00, dtype: float64

In [44]:
df.loc['2024-10-18']

A   -1.361773
B   -0.319626
C    0.763728
D    0.151292
Name: 2024-10-18 00:00:00, dtype: float64

In [45]:
df.loc[:, ["B", "D"]]

                   B         D
2024-10-15  0.079288 -0.770853
2024-10-16 -0.571162 -0.740248
2024-10-17  1.208406  1.070321
2024-10-18 -0.319626  0.151292
2024-10-19 -0.678783 -0.896008
2024-10-20 -0.602363  1.137598
2024-10-21 -0.375140  0.169319
2024-10-22 -0.514981 -1.563304
2024-10-23 -0.963155  1.855274
2024-10-24 -0.079882  0.011808

In [46]:
df.loc["2024-10-20" : "2024-10-24", ["A", "B"]]

                   A         B
2024-10-20 -1.201021 -0.602363
2024-10-21  0.633254 -0.375140
2024-10-22  1.097421 -0.514981
2024-10-23 -0.496762 -0.963155
2024-10-24 -0.154019 -0.079882

In [47]:
df.loc[dates[0], "A"]

0.09916693223517291

In [48]:
df.at[dates[0], "A"]

0.09916693223517291

In [49]:
df

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [50]:
df.iloc[3]

A   -1.361773
B   -0.319626
C    0.763728
D    0.151292
Name: 2024-10-18 00:00:00, dtype: float64

In [51]:
df.iloc[3].dtypes

dtype('float64')

In [52]:
type(df.iloc[3])

pandas.core.series.Series

In [53]:
df.iloc[3 : 5, 0 : 2]

                   A         B
2024-10-18 -1.361773 -0.319626
2024-10-19  2.478647 -0.678783

In [54]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2024-10-16  1.775845  0.022230
2024-10-17 -0.088840 -0.802657
2024-10-19  2.478647  0.745558

In [55]:
df.iloc[1 : 3, :]

                   A         B         C         D
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321

In [56]:
df.iloc[:, 1 : 3]

                   B         C
2024-10-15  0.079288 -0.054775
2024-10-16 -0.571162  0.022230
2024-10-17  1.208406 -0.802657
2024-10-18 -0.319626  0.763728
2024-10-19 -0.678783  0.745558
2024-10-20 -0.602363  0.437264
2024-10-21 -0.375140 -0.817155
2024-10-22 -0.514981 -0.245980
2024-10-23 -0.963155  2.301437
2024-10-24 -0.079882 -0.516889

In [57]:
df.iloc[1, 1]

-0.5711623300362445

In [58]:
df

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [59]:
df.iat[1, 1]

-0.5711623300362445

In [60]:
df[df["A"] > 0]

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304

In [61]:
df[df > 0]

                   A         B         C         D
2024-10-15  0.099167  0.079288       NaN       NaN
2024-10-16  1.775845       NaN  0.022230       NaN
2024-10-17       NaN  1.208406       NaN  1.070321
2024-10-18       NaN       NaN  0.763728  0.151292
2024-10-19  2.478647       NaN  0.745558       NaN
2024-10-20       NaN       NaN  0.437264  1.137598
2024-10-21  0.633254       NaN       NaN  0.169319
2024-10-22  1.097421       NaN       NaN       NaN
2024-10-23       NaN       NaN  2.301437  1.855274
2024-10-24       NaN       NaN       NaN  0.011808

In [62]:
df2 = df.copy()

In [63]:
df2["E"] = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"]

In [64]:
df2

                   A         B         C         D      E
2024-10-15  0.099167  0.079288 -0.054775 -0.770853    one
2024-10-16  1.775845 -0.571162  0.022230 -0.740248    two
2024-10-17 -0.088840  1.208406 -0.802657  1.070321  three
2024-10-18 -1.361773 -0.319626  0.763728  0.151292   four
2024-10-19  2.478647 -0.678783  0.745558 -0.896008   five
2024-10-20 -1.201021 -0.602363  0.437264  1.137598    six
2024-10-21  0.633254 -0.375140 -0.817155  0.169319  seven
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304  eight
2024-10-23 -0.496762 -0.963155  2.301437  1.855274   nine
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808    ten

In [65]:
df2[df2["E"].isin(["two", "five"])]

                   A         B         C         D     E
2024-10-16  1.775845 -0.571162  0.022230 -0.740248   two
2024-10-19  2.478647 -0.678783  0.745558 -0.896008  five

In [66]:
df

                   A         B         C         D
2024-10-15  0.099167  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [67]:
len(df)

10

In [68]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range("20240101", periods = 6))

In [69]:
s1

2024-01-01    1
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    6
Freq: D, dtype: int64

In [70]:
df.at[dates[0], "A"] = 0

In [71]:
df

                   A         B         C         D
2024-10-15  0.000000  0.079288 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [72]:
df.iat[0, 1] = 0

In [73]:
df

                   A         B         C         D
2024-10-15  0.000000  0.000000 -0.054775 -0.770853
2024-10-16  1.775845 -0.571162  0.022230 -0.740248
2024-10-17 -0.088840  1.208406 -0.802657  1.070321
2024-10-18 -1.361773 -0.319626  0.763728  0.151292
2024-10-19  2.478647 -0.678783  0.745558 -0.896008
2024-10-20 -1.201021 -0.602363  0.437264  1.137598
2024-10-21  0.633254 -0.375140 -0.817155  0.169319
2024-10-22  1.097421 -0.514981 -0.245980 -1.563304
2024-10-23 -0.496762 -0.963155  2.301437  1.855274
2024-10-24 -0.154019 -0.079882 -0.516889  0.011808

In [74]:
df.loc[:, "D"] = np.array([5] * len(df))

In [75]:
df

                   A         B         C    D
2024-10-15  0.000000  0.000000 -0.054775  5.0
2024-10-16  1.775845 -0.571162  0.022230  5.0
2024-10-17 -0.088840  1.208406 -0.802657  5.0
2024-10-18 -1.361773 -0.319626  0.763728  5.0
2024-10-19  2.478647 -0.678783  0.745558  5.0
2024-10-20 -1.201021 -0.602363  0.437264  5.0
2024-10-21  0.633254 -0.375140 -0.817155  5.0
2024-10-22  1.097421 -0.514981 -0.245980  5.0
2024-10-23 -0.496762 -0.963155  2.301437  5.0
2024-10-24 -0.154019 -0.079882 -0.516889  5.0

In [76]:
arr = np.array([3] * 5)
arr

array([3, 3, 3, 3, 3])

In [77]:
arr.dtype

dtype('int32')

In [78]:
type(arr)

numpy.ndarray

In [79]:
len(arr)

5

In [80]:
df2 = df.copy()
df2[df2 > 0] = -df2
df, df2

(                   A         B         C    D
 2024-10-15  0.000000  0.000000 -0.054775  5.0
 2024-10-16  1.775845 -0.571162  0.022230  5.0
 2024-10-17 -0.088840  1.208406 -0.802657  5.0
 2024-10-18 -1.361773 -0.319626  0.763728  5.0
 2024-10-19  2.478647 -0.678783  0.745558  5.0
 2024-10-20 -1.201021 -0.602363  0.437264  5.0
 2024-10-21  0.633254 -0.375140 -0.817155  5.0
 2024-10-22  1.097421 -0.514981 -0.245980  5.0
 2024-10-23 -0.496762 -0.963155  2.301437  5.0
 2024-10-24 -0.154019 -0.079882 -0.516889  5.0,
                    A         B         C    D
 2024-10-15  0.000000  0.000000 -0.054775 -5.0
 2024-10-16 -1.775845 -0.571162 -0.022230 -5.0
 2024-10-17 -0.088840 -1.208406 -0.802657 -5.0
 2024-10-18 -1.361773 -0.319626 -0.763728 -5.0
 2024-10-19 -2.478647 -0.678783 -0.745558 -5.0
 2024-10-20 -1.201021 -0.602363 -0.437264 -5.0
 2024-10-21 -0.633254 -0.375140 -0.817155 -5.0
 2024-10-22 -1.097421 -0.514981 -0.245980 -5.0
 2024-10-23 -0.496762 -0.963155 -2.301437 -5.0
 2024-10-24 -0.154019 -0.079882 -0.516889 -5.0)

In [81]:
df2[df2 > 0]

             A   B   C   D
2024-10-15 NaN NaN NaN NaN
2024-10-16 NaN NaN NaN NaN
2024-10-17 NaN NaN NaN NaN
2024-10-18 NaN NaN NaN NaN
2024-10-19 NaN NaN NaN NaN
2024-10-20 NaN NaN NaN NaN
2024-10-21 NaN NaN NaN NaN
2024-10-22 NaN NaN NaN NaN
2024-10-23 NaN NaN NaN NaN
2024-10-24 NaN NaN NaN NaN

In [82]:
df2[df2 == 0]

              A    B   C   D
2024-10-15  0.0  0.0 NaN NaN
2024-10-16  NaN  NaN NaN NaN
2024-10-17  NaN  NaN NaN NaN
2024-10-18  NaN  NaN NaN NaN
2024-10-19  NaN  NaN NaN NaN
2024-10-20  NaN  NaN NaN NaN
2024-10-21  NaN  NaN NaN NaN
2024-10-22  NaN  NaN NaN NaN
2024-10-23  NaN  NaN NaN NaN
2024-10-24  NaN  NaN NaN NaN

In [83]:
df

                   A         B         C    D
2024-10-15  0.000000  0.000000 -0.054775  5.0
2024-10-16  1.775845 -0.571162  0.022230  5.0
2024-10-17 -0.088840  1.208406 -0.802657  5.0
2024-10-18 -1.361773 -0.319626  0.763728  5.0
2024-10-19  2.478647 -0.678783  0.745558  5.0
2024-10-20 -1.201021 -0.602363  0.437264  5.0
2024-10-21  0.633254 -0.375140 -0.817155  5.0
2024-10-22  1.097421 -0.514981 -0.245980  5.0
2024-10-23 -0.496762 -0.963155  2.301437  5.0
2024-10-24 -0.154019 -0.079882 -0.516889  5.0

In [84]:
df1 = df.reindex(index = dates[0 : 4], columns = list(df.columns) + ["E", "F"])

In [85]:
df1

                   A         B         C    D   E   F
2024-10-15  0.000000  0.000000 -0.054775  5.0 NaN NaN
2024-10-16  1.775845 -0.571162  0.022230  5.0 NaN NaN
2024-10-17 -0.088840  1.208406 -0.802657  5.0 NaN NaN
2024-10-18 -1.361773 -0.319626  0.763728  5.0 NaN NaN

In [86]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [87]:
df1

                   A         B         C    D    E   F
2024-10-15  0.000000  0.000000 -0.054775  5.0  1.0 NaN
2024-10-16  1.775845 -0.571162  0.022230  5.0  1.0 NaN
2024-10-17 -0.088840  1.208406 -0.802657  5.0  NaN NaN
2024-10-18 -1.361773 -0.319626  0.763728  5.0  NaN NaN

In [88]:
df1.dropna(how = "any")

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [89]:
df1

                   A         B         C    D    E   F
2024-10-15  0.000000  0.000000 -0.054775  5.0  1.0 NaN
2024-10-16  1.775845 -0.571162  0.022230  5.0  1.0 NaN
2024-10-17 -0.088840  1.208406 -0.802657  5.0  NaN NaN
2024-10-18 -1.361773 -0.319626  0.763728  5.0  NaN NaN

In [90]:
df1.fillna(value = 3)

                   A         B         C    D    E    F
2024-10-15  0.000000  0.000000 -0.054775  5.0  1.0  3.0
2024-10-16  1.775845 -0.571162  0.022230  5.0  1.0  3.0
2024-10-17 -0.088840  1.208406 -0.802657  5.0  3.0  3.0
2024-10-18 -1.361773 -0.319626  0.763728  5.0  3.0  3.0

In [91]:
df1

                   A         B         C    D    E   F
2024-10-15  0.000000  0.000000 -0.054775  5.0  1.0 NaN
2024-10-16  1.775845 -0.571162  0.022230  5.0  1.0 NaN
2024-10-17 -0.088840  1.208406 -0.802657  5.0  NaN NaN
2024-10-18 -1.361773 -0.319626  0.763728  5.0  NaN NaN

In [92]:
df1.isna()

                A      B      C      D      E     F
2024-10-15  False  False  False  False  False  True
2024-10-16  False  False  False  False  False  True
2024-10-17  False  False  False  False   True  True
2024-10-18  False  False  False  False   True  True

In [93]:
pd.isna(df1)

                A      B      C      D      E     F
2024-10-15  False  False  False  False  False  True
2024-10-16  False  False  False  False  False  True
2024-10-17  False  False  False  False   True  True
2024-10-18  False  False  False  False   True  True

In [94]:
df

                   A         B         C    D
2024-10-15  0.000000  0.000000 -0.054775  5.0
2024-10-16  1.775845 -0.571162  0.022230  5.0
2024-10-17 -0.088840  1.208406 -0.802657  5.0
2024-10-18 -1.361773 -0.319626  0.763728  5.0
2024-10-19  2.478647 -0.678783  0.745558  5.0
2024-10-20 -1.201021 -0.602363  0.437264  5.0
2024-10-21  0.633254 -0.375140 -0.817155  5.0
2024-10-22  1.097421 -0.514981 -0.245980  5.0
2024-10-23 -0.496762 -0.963155  2.301437  5.0
2024-10-24 -0.154019 -0.079882 -0.516889  5.0

In [95]:
df.mean()

A    0.268275
B   -0.289669
C    0.183276
D    5.000000
dtype: float64

In [96]:
df.mean(axis  = 1)

2024-10-15    1.236306
2024-10-16    1.556728
2024-10-17    1.329227
2024-10-18    1.020582
2024-10-19    1.886356
2024-10-20    0.908470
2024-10-21    1.110240
2024-10-22    1.334115
2024-10-23    1.460380
2024-10-24    1.062303
Freq: D, dtype: float64

In [97]:
s = pd.Series([1, 2 , 3, np.nan, 4, 5, np.nan, 6, 8, "Malihe"], index = dates)

In [98]:
s

2024-10-15         1
2024-10-16         2
2024-10-17         3
2024-10-18       NaN
2024-10-19         4
2024-10-20         5
2024-10-21       NaN
2024-10-22         6
2024-10-23         8
2024-10-24    Malihe
Freq: D, dtype: object

In [99]:
s1 = s.shift(2)

In [100]:
s1

2024-10-15    None
2024-10-16    None
2024-10-17       1
2024-10-18       2
2024-10-19       3
2024-10-20     NaN
2024-10-21       4
2024-10-22       5
2024-10-23     NaN
2024-10-24       6
Freq: D, dtype: object

In [101]:
s1['2024-10-17']

1

In [102]:
type(s1['2024-10-20'])

float

In [103]:
type(s1["2024-10-15"])

NoneType

In [104]:
type(s1["2024-10-21"])

int

In [105]:
type(s)

pandas.core.series.Series

In [106]:
df

                   A         B         C    D
2024-10-15  0.000000  0.000000 -0.054775  5.0
2024-10-16  1.775845 -0.571162  0.022230  5.0
2024-10-17 -0.088840  1.208406 -0.802657  5.0
2024-10-18 -1.361773 -0.319626  0.763728  5.0
2024-10-19  2.478647 -0.678783  0.745558  5.0
2024-10-20 -1.201021 -0.602363  0.437264  5.0
2024-10-21  0.633254 -0.375140 -0.817155  5.0
2024-10-22  1.097421 -0.514981 -0.245980  5.0
2024-10-23 -0.496762 -0.963155  2.301437  5.0
2024-10-24 -0.154019 -0.079882 -0.516889  5.0

## Read , Write and Store Tabular Data

In [ ]:
df.to_csv("mycsv.csv")

In [ ]:
mycsv = pd.read_csv("mycsv.csv")

In [ ]:
mycsv

In [ ]:
df.to_excel("myexcel.xlsx")

In [ ]:
myexcel = pd.read_excel("myexcel.xlsx")

In [ ]:
myexcel